{% extends "base.html" %}
{% block title %}Create Team{% endblock %}
{% block content %}
<h1 class="title">Create a New Team</h1>
<form method="POST">
    <div class="field">
        <label class="label" for="team_name">Team Name:</label>
        <div class="control">
            <input class="input" type="text" id="team_name" name="team_name" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="team_race">Team Race:</label>
        <div class="control">
            <div class="select">
                <select id="team_race" name="team_race" required>
                    {% for race in races %}
                        <option value="{{ race.name }}">{{ race.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Create Team</button>
        </div>
    </div>
</form>
<a class="button is-light" href="{{ url_for('home.home') }}">Back to Home</a>
{% endblock %}